xaip-validator-api/src/main/resources/wsdl/tr-esor-internal-crypto-v1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://www.bsi.bund.de/tr-esor/api/1.2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema"
	xmlns:tc="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:pcl="urn:de:procilon:tresor:1.2"
	xmlns:tr="http://www.bsi.bund.de/tr-esor/api/1.2">

	<!--============================================================ -->
	<!-- Version 1.2 of 31.01.2015 -->
	<!--============================================================ -->


	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.bsi.bund.de/tr-esor/api/1.2"
			elementFormDefault="qualified">
			<xsd:include schemaLocation="tr-esor-interfaces-v1.2.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:de:procilon:tresor:1.2"
			elementFormDefault="qualified">
			<xsd:include schemaLocation="tr-esor-internal.xsd" />
		</xsd:schema>
	</wsdl:types>


	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->


	<!-- VerifyRequest -->

	<wsdl:message name="VerifyRequest">
		<wsdl:part name="parameters" element="dss:VerifyRequest" />
	</wsdl:message>
	<wsdl:message name="VerifyResponse">
		<wsdl:part name="parameters" element="dss:VerifyResponse" />
	</wsdl:message>

	<!-- SignRequest -->

	<wsdl:message name="SignRequest">
		<wsdl:part name="parameters" element="dss:SignRequest" />
	</wsdl:message>
	<wsdl:message name="SignResponse">
		<wsdl:part name="parameters" element="dss:SignResponse" />
	</wsdl:message>

	<!-- TimestampRequest -->

	<wsdl:message name="TimestampRequest">
		<wsdl:part name="parameters" element="pcl:TimestampRequest" />
	</wsdl:message>
	<wsdl:message name="TimestampResponse">
		<wsdl:part name="parameters" element="pcl:TimestampResponse" />
	</wsdl:message>

	<!-- HashRequest -->

	<wsdl:message name="HashRequest">
		<wsdl:part name="parameters" element="pcl:HashRequest" />
	</wsdl:message>
	<wsdl:message name="HashResponse">
		<wsdl:part name="parameters" element="pcl:HashResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->


	<wsdl:portType name="Crypto">
		<wsdl:operation name="Verify">
			<wsdl:input message="tr:VerifyRequest" />
			<wsdl:output message="tr:VerifyResponse" />
		</wsdl:operation>
		<wsdl:operation name="Sign">
			<wsdl:input message="tr:SignRequest" />
			<wsdl:output message="tr:SignResponse" />
		</wsdl:operation>
		<wsdl:operation name="Timestamp">
			<wsdl:input message="tr:TimestampRequest" />
			<wsdl:output message="tr:TimestampResponse" />
		</wsdl:operation>
		<wsdl:operation name="Hash">
			<wsdl:input message="tr:HashRequest" />
			<wsdl:output message="tr:HashResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="Crypto" type="tr:Crypto">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Verify">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/Verify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Sign">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/Sign" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Timestamp">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/Timestamp" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Hash">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/Hash" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Definition of Support-Service -->

	<wsdl:service name="Crypto">
		<wsdl:port name="Crypto" binding="tr:Crypto">
			<soap:address location="http://127.0.0.1:18080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
