xaip-validator-api/src/main/resources/wsdl/tr-esor-internal-archisig-v1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://www.bsi.bund.de/tr-esor/api/1.2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema"
	xmlns:tr="http://www.bsi.bund.de/tr-esor/api/1.2">

	<!--============================================================ -->
	<!-- Version 1.2 of 31.01.2015 -->
	<!--============================================================ -->


	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.bsi.bund.de/tr-esor/api/1.2"
			elementFormDefault="qualified">
			<xsd:include schemaLocation="tr-esor-interfaces-v1.2.xsd" />
		</xsd:schema>
	</wsdl:types>


	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->


	<!-- ArchiveSubmissionRequest -->

	<wsdl:message name="ArchiveSubmissionRequest">
		<wsdl:part name="parameters"
			element="tr:ArchiveSubmissionRequest" />
	</wsdl:message>
	<wsdl:message name="ArchiveSubmissionResponse">
		<wsdl:part name="parameters"
			element="tr:ArchiveSubmissionResponse" />
	</wsdl:message>

	<!-- ArchiveUpdateRequest -->

	<wsdl:message name="ArchiveUpdateRequest">
		<wsdl:part name="parameters"
			element="tr:ArchiveUpdateRequest" />
	</wsdl:message>
	<wsdl:message name="ArchiveUpdateResponse">
		<wsdl:part name="parameters"
			element="tr:ArchiveUpdateResponse" />
	</wsdl:message>


	<!-- ArchiveEvidenceRequest -->

	<wsdl:message name="ArchiveEvidenceRequest">
		<wsdl:part name="parameters"
			element="tr:ArchiveEvidenceRequest" />
	</wsdl:message>
	<wsdl:message name="ArchiveEvidenceResponse">
		<wsdl:part name="parameters"
			element="tr:ArchiveEvidenceResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->


	<wsdl:portType name="ArchiSig">
		<wsdl:operation name="ArchiveSubmission">
			<wsdl:input message="tr:ArchiveSubmissionRequest" />
			<wsdl:output message="tr:ArchiveSubmissionResponse" />
		</wsdl:operation>
		<wsdl:operation name="ArchiveUpdate">
			<wsdl:input message="tr:ArchiveUpdateRequest" />
			<wsdl:output message="tr:ArchiveUpdateResponse" />
		</wsdl:operation>
		<wsdl:operation name="ArchiveEvidence">
			<wsdl:input message="tr:ArchiveEvidenceRequest" />
			<wsdl:output message="tr:ArchiveEvidenceResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="ArchiSig" type="tr:ArchiSig">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ArchiveSubmission">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/ArchiveSubmission" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ArchiveUpdate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/ArchiveUpdate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ArchiveEvidence">
			<soap:operation
				soapAction="http://www.bsi.bund.de/tr-esor/ArchiveEvidence" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Definition of Support-Service -->

	<wsdl:service name="ArchiSig">
		<wsdl:port name="ArchiSig" binding="tr:ArchiSig">
			<soap:address location="http://127.0.0.1:18080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
